ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

label {
    font-weight: bold;
}

a:visited {
    border: 0;
}

li {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

svg {
    margin: 0;
    padding: 0;
}

div {
    padding: 0;
    margin: 0;
}

input {
    height: 50px;
    padding: 0 25px;
    margin: 0;
    background-color: #49566510;
    border: 1px transparent solid;
    box-sizing: border-box;
    transition: 0.3s;
}

input:focus {
    transition: 0.3s;
    height: 70px;
    line-height: 70px;
    border: 1px #49566580 solid;
    background-color: white;
}

a {
    color: #be3144;
}

a:hover {
    color: #495665;
}

button {
    float: right;
    background-color: transparent;
    margin: 25px 0 !important;
    height: 50px;
    line-height: 25px;
    font-size: 22px;
    color: #495665;
    border: 2px #495665 solid;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    transition: 0.3s;
    overflow: hidden;
}

button>svg {
    width: 50px;
    margin-right: -50px;
    color: transparent;
    visibility: hidden;
    float: right;
    transition: 0.3s;
}

button:hover {
    transition: 0.3s;
    color: #be3144;
    border: 2px transparent solid;
    border-radius: 5px;
}

button:hover>svg {
    visibility: visible;
    transition: 0.3s;
    margin-right: 0;
    color: #be3144;
    float: right;
    height: 30px;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    color: inherit;
}

p {
    margin: 0;
}

body {
    background-color: #F3F5F8;
}

.label_h3_red
{
    border-left: 10px #be3144 solid;
    background-color: white;
    padding: 10px 25px;
    height: 65px;
    margin-top: 100px;
    font-size: 25px;
    line-height: 45px;
    width: 100%;
}

#page_main {
    padding: 0 10px;
    margin: 0 0 50px 0;
    font-family: 'Lato', sans-serif;
}

.top-nav {
    height: 100px;
}

#page_main>h2 {
    padding: 20px;
    background-color: white;
    margin: 0;
}

.startup_preview_div {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    margin: 50px 0 100px 0;
}

.startup_preview {
    width: 25%;
    height: 300px;
    transition: 0.5s;
    padding: 10px 25px;
}

.startup_preview:hover {
    margin: 50px 0;
    transition: 0.5s;
}

.preview_red {
    background-color: #be3144;
    color: white;
}

.preview_dgray {
    background-color: #495665;
    color: white;
}

.preview_gray {
    background-color: #49566522;
}

.preview_white {
    background-color: white;
}

.title_gray {
    border-left: 25px #495665 solid;
}

.title_red {
    border-left: 25px #be3144 solid;
}

/* MENU STYLE */

.collapse {
    visibility: hidden;
}
.collapse.show {
    visibility: visible;
    display: block;
}
.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}
.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: auto;
}

#logo {
    line-height: 50px;
    font-size: 40px;
}

#logo_div {
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    display: flex;
    margin: auto;
}

#logo_title {
    display: inline-block;
    height: 100%;
    line-height: 40px;
    margin: 0;
    font-size: 40px;
    text-align: center;
    color: #be3144;
}

#amenu {
    width:100%;
    margin: 0;
    position: fixed;
    padding: 0;
    top: 0;
    background-color: #49566580;
    z-index: 100;
}

.foot-copyright {
    padding: 25px 0;
    background-color: #495665;
    color: white;
}

.foot-copyright a {
    color: #FFFFFFCC;
}

.foot-copyright a:hover {
    color: white;
}

.foot-copyright>#logo_title>#sitepunchline {
    color: white;
}

.menu-collapse {
    display:block;
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    padding: 0;
    margin: 0;
    color: #FFFFFFAA !important;
    text-align: center;
}

.menu-collapse>span {
    font-size: 20px;
    line-height: 80px;
    visibility: hidden;
    color: #FFFFFF !important;
}

.menu-collapse:hover>span {
    visibility: visible;
    transition: 0.5s;
}

.menu-collapse:hover {
    color: #FFFFFFFF !important;
}

.user-title{
    float: left;
    display:inline-block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 25px 25px;
}

.user-title>svg {
    float:left;
    font-size: 30px;
    line-height: 40px;
    margin: 5px 0;
}

#sitename {
    font-weight: bolder;
}

#sitepunchline {
    font-weight: lighter;
    color: #495665;
}

#search {
    float: right;
    width: 100%;
    height: 90px;
    line-height: 80px;
    display:flex;
    font-size: 22px;
}

.collapser {
    padding: 25px 0;
}

.top-bar {
    padding: 75px 0 0 0;
}

#search>label {
    width: 10%;
    color: #be3144;
    text-align: center;
}

#search>input {
    width: 80%;
    padding: 15px 25px;
    margin: 15px 0 0 10%;
}

#search>input:hover {
    height: 50px;
}

#search>input:focus {
    height: 50px;
    color: #be3144;
    width: 90%;
    margin-left: 0;
}

.start-update {
    line-height: 50px;
    padding: 25px;
}

.start-update>div {
    padding:0;
}

.start-update label {
    height: 50px;
    font-size: 22px;
    padding: 0 25px;
    box-sizing: border-box;
    margin:0;
}

.start-update textarea:focus {
    height: 550px;
    transition: 0.3s;
    border: 1px #49566580 solid;
    background-color: white;
}

.start-update textarea {
    height: 500px;
    background-color: #49566510;
    border: 1px transparent solid;
    overflow: hidden;
    line-height: 30px;
    margin: 0;
    resize: none;
    box-sizing: border-box;
    transition: 0.3s;
}

.register_col {
    padding: 25px;
    line-height: 50px;
}

.register_col label {
    font-size: 22px;
}

.register p {
    text-align: center;
    font-size: 1.2em;
}

.register_col p {
    height: 50px;
    text-align: center;
    font-size: 22px;
    border-bottom: 1px #49566580 solid;

}

.disco {
    margin: 0;
    height: 75px;
}

.article {
    border: 1px #49566520 solid;
    padding: 25px 10px;
    background-color: white;
    border-bottom-right-radius: 50px;
}

.article .img {
    height: 450px;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.article-content {
    padding: 50px 25px;
    text-align: justify;
    line-height: 24px;
    font-size: 18px;
    height: 168px;
    margin-bottom: 75px;
    overflow: hidden;
}

.article>h3 {
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
    height: 50px;
}

.article>div>span {
    float: right;
}

.content-link {
    position: absolute;
    bottom: 50px;
    right: 25px;
    height: 50px;
    line-height: 25px;
    font-size: 22px;
    color:#495665 !important;
    border: 2px #495665 solid !important;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    transition: 0.3s;
    overflow: hidden;
}

.content-link>svg {
    width: 50px;
    margin-right: -50px;
    color: transparent;
    visibility: hidden;
    float: right;
    transition: 0.3s;
}

.content-link:hover {
    transition: 0.3s;
    color: #be3144 !important;
    border: 2px transparent solid !important;
}

.content-link:hover>svg {
    visibility: visible;
    transition: 0.3s;
    margin-right: 0;
    color: #be3144;
    float: right;
    height: 30px;
}